.card-row {
  padding-left: 5px;
  padding-right: 5px;
}

.each-card {
width: 50%;
}

.sparql-text {
  font-size: 1rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.my-card-link {
  font-size: 1rem;
}

.coll-button {
 background-color: transparent;
 border-color: transparent;
 border-style: 0;
 margin: 0;
 padding: 5px;
}

.code-in-visualisation {
padding: 10px; 
margin-right: 10px;
margin-left: 10px; 
}
