.card-row {
  margin-bottom: 5rem;
}

.card-header {
 background-color: rgba(0,0,0,0);
 border-bottom: 1px solid rgba(0,0,0,0);
}

.card-footer {
 padding-left: 5px;
 padding-right: 5px;
 background-color: rgba(0,0,0,0);
 border-top: 1px solid rgba(0,0,0,0);
}

.footer-disclaimer {
  position:absolute;
  bottom:0;
  left:0;
  width:100vw;
}

.each-card {
border-style: solid, blue, 5px;
}

.card-body {
padding: 0;
}

.card-title {
margin-top: 15px;
}

code {
  margin: 0!important;
  padding: 0!important;
  overflow: hidden;
}

.sparql-text {
  font-size: 1rem;
  text-align: left;
  margin: 0!important;
  padding: 0!important;
}

pre {
  display: table;
  width: 100%;
  margin: 0!important;
  padding: 0!important;
  overflow: hidden;
}

.my-card-link {
  font-size: 1rem;
}

.coll-button {
 background-color: transparent;
 border-color: transparent;
 border-style: 0;
 margin: 0;
 padding: 5px;
}

.code-in-visualisation {
padding-top: 2vh;
padding-bottom: 0;
}

.modal-body {
font-size: 1rem;
text-align: left;
}

#resultvisualisation1 {
font-size: 1rem;
text-align: left;
}

#resultvisualisation2_daily{
font-size: 1rem;
text-align: left;
}

#resultvisualisation3_lang {
font-size: 1rem;
text-align: left;
}

.btn btn-primary button-card {
padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
