.graph-section {
	background-color: transparent;
}

#graph-container {
	width: 100%;
	height: 50vh;
	margin: 0 auto;
	overflow: hidden;
}

#graph > div {
	position:static;
	text-align: center;
}

#graph canvas {
	background-color: #1b1e23;
	display: inline-block;
}

.twitter {
  padding-top: 65px;
}
